---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";
import type { BlogType } from "../../content.config";
import { formatDate } from "../../utils/formatDate";
import { SITE_TITLE, SITE_AUTHOR } from "../../consts";
import Year from "../../components/Year.astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: (data: BlogType[], options: { pageSize: number }) => unknown;
}) {
  const blogs = await getCollection("blogs");
  const years = [
    ...new Set(
      blogs.map((blog: BlogType) => new Date(blog.data.date).getFullYear()),
    ),
  ];
  blogs.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return paginate(blogs, { pageSize: 8, props: { years } });
}

const { page, years } = Astro.props as { page: { data: BlogType[] }; years: number[] };
---

<BaseLayout
  title={`Archive | ${SITE_TITLE}`}
  description="All blog posts"
  author={SITE_AUTHOR}
  url="/archive"
>
  <section class="center">
    <Year years={years} />
    <div class="space-y-1">
      {
        page.data.map((blog: BlogType) => (
          <PostCard
            title={blog.data.title}
            date={formatDate(blog.data.date)}
            url={blog.data.slug}
            tags={blog.data.tags}
            cover={blog.data.cover}
          />
        ))
      }
    </div>
    <Pagination page={page} />
  </section>
</BaseLayout>
