---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import { getCollection } from "astro:content";
import Pagination from "../../../components/Pagination.astro";
import type { BlogType } from "../../../content.config";
import { formatDate } from "../../../utils/formatDate";
import { SITE_TITLE, SITE_AUTHOR } from "../../../consts";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const blogs: BlogType[] = await getCollection("blogs");
  const tags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];

  return tags.flatMap((tag) => {
    const filteredBlogs = blogs
      .filter((blog) => blog.data.tags.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
      );
    return paginate(filteredBlogs, {
      params: { tag },
      pageSize: 8,
    });
  });
}

const { page } = Astro.props as { page: { data: BlogType[] } };
const { tag } = Astro.params as { tag: string };
---

<BaseLayout
  title={`${tag} | ${SITE_TITLE}`}
  description={`Posts tagged with ${tag}`}
  author={SITE_AUTHOR}
  url={`/tags/${tag}`}
>
  <section class="center">
    <h1 class="heading">{tag}</h1>
    <div class="space-y-1">
      {
        page.data.map((blog: BlogType) => {
          return (
            <PostCard
              title={blog.data.title}
              date={formatDate(blog.data.date)}
              url={blog.data.slug}
              tags={blog.data.tags}
              cover={blog.data.cover}
            />
          );
        })
      }
    </div>
    <Pagination page={page} />
  </section>
</BaseLayout>
