---
import { Image } from "astro:assets";
import ProgressBar from "../components/ProgressBar";
import TableOfContents from "../components/TableOfContents";
import BaseLayout from "./BaseLayout.astro";
import Title from "../components/Title.astro";
import Lightbox from "../components/Lightbox.astro";
import SeriesNav from "../components/SeriesNav.astro";
const { frontmatter, readTime, series } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  author={frontmatter.author}
  url={frontmatter.canonical || frontmatter.slug}
  pubDate={frontmatter.date}
  image={frontmatter.cover?.src.src}
>
  <ProgressBar client:load />
  {frontmatter.cover && (
    <figure class="cover-image">
      <Image src={frontmatter.cover.src} alt={frontmatter.cover.alt} />
      {frontmatter.cover.caption && (
        <figcaption class="text-center">{frontmatter.cover.caption}</figcaption>
      )}
    </figure>
  )}
  <article class="center">
    <Title frontmatter={frontmatter} readTime={readTime} />
    <SeriesNav series={series} />
    <section class:list={["markdown", { "no-line-numbers": frontmatter.codeLineNumbers === false }]}>
      <slot />
    </section>
  </article>
  <TableOfContents client:load />
  <Lightbox />
</BaseLayout>
